! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! turn off scrolbar
URxvt.scrollBar: false

! font
URxvt.font: xft:Terminus:size=8:antialias=true
!URxvt.letterSpace: -1
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! perl extensions
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select,tabbed
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

! COLORS
*.foreground:   #949790
*.background:   #353732
*.cursorColor:  #949790

! black
*.color0:       #3b3b3b
*.color8:       #3b3b3b

! red
*.color1:       #cf6a4c
*.color9:       #cf6a4c

! green
*.color2:       #99ad6a
*.color10:      #99ad6a

! yellow
*.color3:       #d8ad4c
*.color11:      #d8ad4c

! blue
*.color4:       #597bc5
*.color12:      #597bc5

! magenta
*.color5:       #a037b0
*.color13:      #a037b0

! cyan
*.color6:       #71b9f8
*.color14:      #71b9f8

! white
*.color7:       #adadad 
*.color15:      #adadad 
